

.product-img__thumbnail{
    display: block;
    width: 100%;
}

.product-img__list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 15px;
    margin-top: 12px;
}

.product-img__item{
  margin-bottom: 10px;
  max-width: 100%;
}


/* mobile & tablet */
@media (max-width: 1023px){
    .hide-on-mobile-tablet{
        display: none;
    }
   
}
    

/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    
    
}

/* mobile */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    
}