.header-home{
    height: var(--header-height);
    position: relative;
}

/* explore */
.header-home__navbar-explore{
    position: absolute;
    top: calc(var(--header-height) - 66px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.header-home__navbar-explore::after{
    content: "";
    position: absolute;
    top: 146%;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 50px;
    background-color: var(--primary-color);
}

.header-home__navbar-explore-link{
    color: var(--white-color);
    font-size: 2.4rem;
    text-decoration: none;
    font-family: Storror Eurostile Ultra Extended;
}

/* video background*/
#myVideo {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }




/* responsive */
/* mobile & tablet */
@media (max-width: 1023px){
    .hide-on-mobile-tablet{
        display: none;
    }
   
}
    

/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    .header-home{
        height: 400px;
    }
    
}

/* mobile */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    
}