/* product item */
.row-product {
    margin-left: 42px;
    margin-right: 42px;
}

.product-item{
    cursor: pointer;
    padding-bottom: 22px;
}
.product-item__img{
    padding-top: 100%;
    background-size: contain;
    /* background-position: center; */
    background-repeat: no-repeat;
}

.product-item__footer-info{
    background-color: black;
    padding: 22px 10px;
    height: 112px;
}

.product-item__name{
    display: block;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 10px;
}
.product-item__price{
    display: block;
    color: white;
    font-size: 1.6rem;
    font-weight: 100;
}



