.home-store{
    background-size: cover;
    height: 1500px;
    background-repeat: no-repeat;
}

.row-product {
    margin: 0 42px;
    padding: 40px 0;
}

.home-store__view-store{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-store__btn-link{
    padding: 16px 40px;
    color: var(--primary-color);
    background-color: black;
    margin-bottom: 16px;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
}

.home-store__icon{
    font-size: 2rem;
    color: white;
}