/* mobile & tablet */
@media (max-width: 1023px){
    .hide-on-mobile-tablet{
        display: none;
    }

    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    .main-container{
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .header__cart-list{
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px)/2);
    }
    .header__cart-list::before{
        display: none;
    }

    .header__sort-bar{
        display: flex;
    }

    .main-container-content{
        padding-top: 8px;
    }

    .mobile-category{
        display: block;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
    :root{
        --header-height: 80px;
        --nav-height: 0px;
    }
    .hide-on-tablet{
        display: none;
    }
    .header__search-bar-select{
        width: 90px;
    }
}

/* mobile */
@media (max-width: 739px){
    :root{
        --header-height: 54px;
        --nav-height: 0px;
    }
    
    .hide-on-mobile{
        display: none;
    }

    .header__mobile-search{
        display: block;
    }

    .header-search{
        justify-content: space-between;
    }

    .header__logo, .header__cart{
        width: unset;
    }

    .header__logo{
        margin-right: unset;
    }

    .header__logo-img{
        display: block;
    }

    .header__cart{
        padding-right: 12px;
    }

    .header__search-bar{
        position: fixed;
        z-index: 1;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        padding: 0 8px;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }

    @keyframes mobileSearchSideIn {
        from{
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to{
            opacity: 1;
            top: var(--header-height);
        }
    }

    .pagination-item{
        margin: 0;
    }

    .pagination-item__link{
        min-width: 34px;
    }

    .product-list__pagination{
        padding: unset;
        margin: 20px 20px 10px 20px;
    }

    .header__logo-img{
        width: 100px;
    }

}