.footer{
    background-color: black;
}
.footer-container{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 34px 0; 
}

.footer__menu-list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.footer__menu-item{
    padding-bottom: 24px;
}
.footer__menu-item:last-child{
    padding: 0;
}
.footer__menu-link{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 600;
    transition: color 0.3s ease;
}
.footer__menu-link:hover{
    color: var(--primary-color);
}

/* mailling form */
.footer__mailing-form{
    padding-left: 20px;
}
.footer__mailing-form-title{
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 12px;
    display: block;
}
.footer__input{ 
    display: block;
    height: 48px;
    font-size: 1.4rem;
    outline: none;
    width: 260px;
}
.footer__input-name{
    display: flex;
    justify-content: space-between;
}
.footer__input--email{
    width: 100%;
    margin: 28px 0 58px 0;
}
.footer__submit{
    padding: 16px 30px;
    font-size: 1.3rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    font-weight: 500;
    float: right;
    transition: background-color 0.2s ease;
}
.footer__submit:hover{
    cursor: pointer;
    background-color: #1c9f76;
}

/* copyright */
.footer-container-copyright{
    padding: 20px 0;
}
.footer__copyright-text{
    color: var(--white-color);
    font-size: 1.2rem;
    text-align: center;
    display: block;
}
.footer__copyright-link{
    text-decoration: none;
    color: var(--primary-color);
}
